Repository Corgam/SS23_ADSP_TCF, pull requests merged in 2023-07, with the labels that each got.

#128 feat: Add download button to /data-sets
  common/types/datafile.ts
  frontend/src/app/download.service.ts
  frontend/src/app/view-datasets/view-datasets.component.html
  frontend/src/app/view-datasets/view-datasets.component.scss
  frontend/src/app/view-datasets/view-datasets.component.ts
Labels: Front-end

#133 Map-Updates
  frontend/angular.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/dashboard/dashboard.component.ts
  frontend/src/app/map/map.component.html
  frontend/src/app/map/map.component.scss
  frontend/src/app/map/map.component.ts
  frontend/src/app/map/service/coordinate.service.ts
  frontend/src/app/shared/header/top-menu.component.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/shared/upload-map/upload-map.component.html
  frontend/src/app/shared/upload-map/upload-map.component.scss
  frontend/src/app/shared/upload-map/upload-map.component.ts
  frontend/src/app/upload-data/upload-data.component.html
  frontend/src/app/upload-data/upload-data.component.ts
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
  frontend/tsconfig.app.json
Labels: Front-end

#138 Tcf 58/data display component
  common/types/datafile.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/dashboard/dashboard.component.html
  frontend/src/app/data-display/data-display.component.html
  frontend/src/app/data-display/data-display.component.scss
  frontend/src/app/data-display/data-display.component.spec.ts
  frontend/src/app/data-display/data-display.component.ts
  frontend/src/app/upload-data/upload-data.component.html
  frontend/src/app/upload-data/upload-data.component.ts
  frontend/tsconfig.json
Labels: Front-end

#142 fix: backend port in docker-compose deployment + update scripts
  .env
  README.md
  backend/public-api/package-lock.json
  backend/public-api/src/config/config.ts
  docker-compose.yml
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api.service.ts
  frontend/src/config/config.ts
  package-lock.json
  package.json
Labels: Bug, Front-end

#143 fix: Fix pagination
  backend/public-api/__test__/crudTests/datafileGetAll.test.ts
  backend/public-api/__test__/filtersTests/datafileBooleanFilters.test.ts
  backend/public-api/__test__/filtersTests/datafileConcatenationFilters.test.ts
  backend/public-api/__test__/filtersTests/datafileGeodataFilters.test.ts
  backend/public-api/__test__/filtersTests/datafileNumberFilters.test.ts
  backend/public-api/__test__/filtersTests/datafileStringFilters.test.ts
  backend/public-api/src/controllers/datafile.controller.ts
  backend/public-api/src/controllers/journey.controller.ts
  backend/public-api/src/services/crud.service.ts
  backend/public-api/src/services/datafile/datafile.service.ts
  backend/public-api/src/services/journey/journey.service.ts
  common/types/datafile.ts
  common/types/index.ts
  common/types/pagination.ts
  frontend/src/app/api.service.ts
  frontend/src/app/upload-data/upload-data.component.ts
  frontend/src/app/view-datasets/view-datasets.component.html
  frontend/src/app/view-datasets/view-datasets.component.ts
Labels: Bug, Front-end, Back-end

#154 feat: More endpoint features
  README.md
  backend/public-api/__test__/crudTests/datafileGetAll.test.ts
  backend/public-api/__test__/filtersTests/datafileBooleanFilters.test.ts
  backend/public-api/__test__/filtersTests/datafileConcatenationFilters.test.ts
  backend/public-api/__test__/filtersTests/datafileGeodataFilters.test.ts
  backend/public-api/__test__/filtersTests/datafileNumberFilters.test.ts
  backend/public-api/__test__/filtersTests/datafileStringFilters.test.ts
  backend/public-api/src/controllers/datafile.controller.ts
  backend/public-api/src/controllers/journey.controller.ts
  backend/public-api/src/services/base.service.ts
  backend/public-api/src/services/crud.service.ts
  backend/public-api/src/services/datafile/datafile.service.ts
  common/types/deleteMany.ts
  common/types/index.ts
Labels: Back-end

#136 Tcf 113 upload workflow
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/dashboard/dashboard.component.ts
  frontend/src/app/exploration/exploration.module.ts
  frontend/src/app/map/map.component.scss
  frontend/src/app/map/map.component.ts
  frontend/src/app/prime.module.ts
  frontend/src/app/shared/header/top-menu.component.ts
  frontend/src/app/shared/service/api.service.ts
  frontend/src/app/shared/service/coordinate.service.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/upload-data/no-file/no-file.component.html
  frontend/src/app/upload-data/no-file/no-file.component.scss
  frontend/src/app/upload-data/no-file/no-file.component.ts
  frontend/src/app/upload-data/raw-data-tile/raw-data-tile.component.html
  frontend/src/app/upload-data/raw-data-tile/raw-data-tile.component.scss
  frontend/src/app/upload-data/raw-data-tile/raw-data-tile.component.spec.ts
  frontend/src/app/upload-data/raw-data-tile/raw-data-tile.component.ts
  frontend/src/app/upload-data/rawDatasets/rawDatasets.component.html
  frontend/src/app/upload-data/rawDatasets/rawDatasets.component.scss
  frontend/src/app/upload-data/rawDatasets/rawDatasets.component.ts
  frontend/src/app/upload-data/supported-data-tile/supported-data-tile.component.html
  frontend/src/app/upload-data/supported-data-tile/supported-data-tile.component.scss
  frontend/src/app/upload-data/supported-data-tile/supported-data-tile.component.spec.ts
  frontend/src/app/upload-data/supported-data-tile/supported-data-tile.component.ts
  frontend/src/app/upload-data/supportedDatasets/supportedDatasets.component.html
  frontend/src/app/upload-data/supportedDatasets/supportedDatasets.component.scss
  frontend/src/app/upload-data/supportedDatasets/supportedDatasets.component.ts
  frontend/src/app/upload-data/upload-data.component.html
  frontend/src/app/upload-data/upload-data.component.scss
  frontend/src/app/upload-data/upload-data.component.spec.ts
  frontend/src/app/upload-data/upload-data.component.ts
  frontend/src/app/upload-data/upload-data.module.ts
  frontend/src/app/view-datasets/view-datasets.component.ts
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
  frontend/tsconfig.json
Labels: Front-end

#137 Add /nestedValue to retrieve and add nested values
  backend/public-api/__test__/datafileTests/datafileDelete.test.ts
  backend/public-api/__test__/datafileTests/datafileGet.test.ts
  backend/public-api/__test__/datafileTests/datafileGetAll.test.ts
  backend/public-api/__test__/datafileTests/datafileNestedValues.test.ts
  backend/public-api/__test__/datafileTests/datafilePost.test.ts
  backend/public-api/__test__/datafileTests/datafileUpdate.test.ts
  backend/public-api/src/controllers/datafile.controller.ts
  backend/public-api/src/services/datafile/datafile.service.ts
  backend/public-api/src/utils/utils.ts
  common/types/datafile.ts
Labels: Back-end

#155 refactor: SimRa dataset support
  backend/public-api/.eslintrc.json
  backend/public-api/src/services/datafile/datafile.service.ts
  backend/public-api/src/services/datafile/datafileSimraParsing.service.ts
  frontend/src/app/shared/service/api.service.ts
  frontend/src/app/view-datasets/view-datasets.component.ts
Labels: Back-end

#161 [FE] Display popup
  frontend/src/app/app.module.ts
  frontend/src/app/data-display/data-display-dialog/data-display-dialog.component.html
  frontend/src/app/data-display/data-display-dialog/data-display-dialog.component.scss
  frontend/src/app/data-display/data-display-dialog/data-display-dialog.component.ts
  frontend/src/app/dialog.service.ts
Labels: Front-end

#160 [TCF-158] Improved Map-Handling
  frontend/src/app/map/map.component.ts
Labels: Front-end

#164 feat: Browse Journeys page
  common/types/journey.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/browse-journey/browse-journey.component.html
  frontend/src/app/browse-journey/browse-journey.component.scss
  frontend/src/app/browse-journey/browse-journey.component.ts
  frontend/src/app/dashboard/dashboard.component.scss
  frontend/src/app/dashboard/dashboard.component.ts
  frontend/src/app/filter-blocks/filter-block/filter-block.component.html
  frontend/src/app/filter-blocks/filter-block/filter-block.component.ts
  frontend/src/app/filter-blocks/filter-blocks.component.html
  frontend/src/app/filter-blocks/filter-blocks.component.scss
  frontend/src/app/filter-blocks/filter-blocks.component.ts
  frontend/src/app/shared/service/api.service.ts
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
Labels: Front-end

#170 TCF-150 Gallery-View
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/data-display/data-display-dialog/data-display-dialog.component.html
  frontend/src/app/data-display/data-display-dialog/data-display-dialog.component.scss
  frontend/src/app/data-display/data-display.component.html
  frontend/src/app/data-display/data-display.component.scss
  frontend/src/app/data-display/data-display.component.spec.ts
  frontend/src/app/journey/data-file-list-entry/data-file-list-entry.component.ts
  frontend/src/app/journey/gallery-view/gallery-view.component.html
  frontend/src/app/journey/gallery-view/gallery-view.component.scss
  frontend/src/app/journey/gallery-view/gallery-view.component.ts
  frontend/src/app/journey/journey.component.html
  frontend/src/app/journey/journey.module.ts
  frontend/src/app/shared/data-display/data-display-dialog/data-display-dialog.component.html
  frontend/src/app/shared/data-display/data-display-dialog/data-display-dialog.component.scss
  frontend/src/app/shared/data-display/data-display-dialog/data-display-dialog.component.ts
  frontend/src/app/shared/data-display/data-display.component.html
  frontend/src/app/shared/data-display/data-display.component.scss
  frontend/src/app/shared/data-display/data-display.component.ts
  frontend/src/app/shared/service/dialog.service.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/upload-data/upload-data.module.ts
  frontend/src/index.html
Labels: Front-end

#173 Further Frontend Fixes
  backend/public-api/src/services/datafile/datafileSimraParsing.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/dashboard/dashboard.component.ts
  frontend/src/app/exploration/exploration.module.ts
  frontend/src/app/journey/gallery-view/gallery-view.component.html
  frontend/src/app/journey/gallery-view/gallery-view.component.scss
  frontend/src/app/journey/services/journey.service.ts
  frontend/src/app/map/map.component.html
  frontend/src/app/map/map.component.ts
  frontend/src/app/shared/header/top-menu.component.html
  frontend/src/app/shared/header/top-menu.component.ts
  frontend/src/app/upload-data/supportedDatasets/supportedDatasets.component.ts
Labels: Front-end

#167 Optimize data science
  backend/data-science/app/controllers/data_processing_controller.py
  backend/data-science/app/errors/__init__.py
  backend/data-science/app/errors/errors.py
  backend/data-science/app/services/data_processing_service.py
  backend/public-api/src/config/config.ts
  backend/public-api/src/services/datafile/datafileCERV2.service.ts
  backend/public-api/src/services/datafile/datafileRawParsing.service.ts
  docker-compose.yml
  frontend/src/app/upload-data/supportedDatasets/supportedDatasets.component.ts
Labels: Back-end
